body {
    background: url(https://41.media.tumblr.com/edf0185d547ffabcc37e103ad3808495/tumblr_n7ibokIhlj1qg49aro1_r1_500.png)
}


h1{
    font-family: 'Pompiere', cursive;
    color:#2E35A1;
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
}
h2 {
    font-family: 'Pompiere', cursive;
    color:#2E35A1;
    text-align: center;
    font-size: 40px;
}
h2, {font-family: 'Pompiere', cursive;
    color:#2E35A1;
    text-align: center;
    font-size: 30px;}

p {
    font-family: 'Pompiere', cursive;
    color:#2E35A1;
    font-size: 40px;
    text-align: center;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

ul.list {

    font-family: 'Pompiere', cursive;
    color: #2E35A18;
    font-size: 20px;
    text-align: center;
    background-color:#F0C1F5;
}

ul  {
 padding-left:0;   
}
ul li  {
 list-style-position:inside
}

select.drop-list {
    display: block ;
    margin-left: ;
    margin-right: auto;
}
div {
    width: auto px;
    padding: 10px solid #310538;
    border: 10px solid #310538;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:#F0C1F5;
}

#title {
    width: auto;
    padding: 10px solid #310538;
    border: 10px solid #310538;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:#F0C1F5;
}

}