body {
    background: url(https://graphicalerts.files.wordpress.com/2011/01/paper-texture-9.jpg)
}

h1,h2 {
    font-family: 'Fredericka the Great', cursive;
    color: black;
    text-align: center;
}

p {
    font-family: 'Fredericka the Great', cursive;
    color: black;
    font-size: 40px;
    text-align: center;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

ul.list {

    font-family: 'Fredericka the Great', cursive;
    color: black;
    font-size: 20px;
    text-align: center;
}

ul  {
 padding-left:0;   
}
ul li  {
 list-style-position:inside
}

select.drop-list {
    display: block;
    margin-left: auto;
    margin-right: auto
}
div {
    width: 500px;
    padding: 25px;
    border: 25px solid #FACA00;
    margin: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

}